
<h1 style="padding-left: 45%; color: brown;" >Neler Yapıyoruz</h1>

<br><br>
<br><br>


<section class="dl-blurbs">
    <dl>
        <dt>Buzdolabı</dt>
        <dd>Buzdolabı teknik servis hizmetlerimizde daha yüksek performans ve daha uzun ömürlü kullanım için orjinal yedek parça kullanımı yapmakatyız.</dd>
        <dt>ÇAMAŞIR MAKİNESİ </dt>
        <dd>Çamaşır Makinesi teknik servis hizmetlerimizde daha yüksek performans ve daha uzun ömürlü kullanım için orjinal yedek parça kullanımı yapmaktayız.</dd>
        <dt>Test</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</dd>
    </dl>
    <dl>
        <dt>Deliver</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</dd>
        <dt>Rinse</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</dd>
    
        <dt>Repeat</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</dd>
    </dl>
    </section>