<section class="light">
	<div class="container py-2">
		<div style="color: brown;" class="link" id="pageHeaderTitle">MERKEZ TEKNİK SERVİS</div>

		<article class="postcard light blue">
			<a class="postcard__img_link" routerLink="sentez">
				<img class="postcard__img" routerLink="sentez" src="assets/images/ekol-image/pexels-photo-3780477.jpeg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a routerLink="sentez">Bize Ulaşın</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>444 562
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Merkez Teknik servis olarak istanbul'un en yaygın ve geniş servis ağına sahibiz. İstanbul Anadolu yakası ve Avrupa yakasında bir çok ilçede şubemiz bulunmakta olup sizlere en kısa sürede hizmet verebilmekteyiz. Sitemizde yer alan çağrı merkezi numaramızı aradığınızda hangi ilçeden ve semtten aradığınıza göre en yakın servis ekibi adresinize yönlendirilmektedir.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Beyaz Eşya</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>Teknik Servis</li>
					<li class="tag__item play blue">
						<a href="#"><i ></i>Bize Ulaşın</a>
					</li>
				</ul>
			</div>
		</article>