<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://static.videezy.com/system/resources/previews/000/035/061/original/business9.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="link">Ekol Bilişim Yazılım & Otomasyon</h1>
        <p class="link">Yazılım & Otomasyon</p>
        <p class="link">0541 552 69 73</p>
      </div>
    </div>
  </div>



</header>
<br>
<br>





<app-about></app-about>


<app-go-info></app-go-info>


<app-cards></app-cards>

<app-referans></app-referans>



