<body>
  
  <div class="section">
   <ul class="case-study-wrapper">
     <li class="case-study-name">                            	
       <a href="#" class="hover-target">Özel Yazılım Hizmetleri</a>
     </li>
     <li class="case-study-name">                                         	
       <a href="#" class="hover-target">Ağ Güvenliği Ve Loglama Sistemi</a>
     </li>
     <li class="case-study-name">                                        	
       <a href="#" class="hover-target">Server Sistem Otomasyonları</a>
     </li>
     <li class="case-study-name">                                         	
       <a href="#" class="hover-target">Meatsy</a>
     </li>
   </ul>
   <ul class="case-study-images">
     <li>
       <div class="img-hero-background"></div> 
       <div class="dark-over-hero"></div>  
       <div class="hero-number-back">Ekol</div> 
       <div class="hero-number">01</div> 
       <div class="hero-number-fixed">04</div> 
       <div class="case-study-title">Özel Yazılım Hizmetleri</div> 
     </li>
     <li>
       <div class="img-hero-background"></div> 
       <div class="hero-number-back">Ekol</div> 
       <div class="hero-number">02</div>  
       <div class="case-study-title">Ağ Güvenliği Ve Loglama Sistemi</div> 
     </li>
     <li>
       <div class="img-hero-background"></div>
       <div class="hero-number-back">Ekol</div>  
       <div class="hero-number">03</div> 
       <div class="case-study-title">Server Sistem Otomasyonları</div> 
     </li>
     <li>
       <div class="img-hero-background"></div> 
       <div class="hero-number-back">Ekol</div> 
       <div class="hero-number">04</div> 
       <div class="case-study-title">Meatsy</div> 
     </li>
   </ul>	
 </div>
 
 <!-- Page cursor
 ================================================== -->
 
     <div class='cursor' id="cursor"></div>
     <div class='cursor2' id="cursor2"></div>
     <div class='cursor3' id="cursor3"></div> 

<!-- Link to page
================================================== -->

<a href="https://themeforest.net/user/ig_design/portfolio"      class="link-to-portfolio hover-target" target=”_blank”       ></a>

</body>

<app-cards></app-cards>



<app-go-info></app-go-info>
<br><br><br>

<app-about></app-about>

<app-referans></app-referans>

