<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-md navbar-light bg-white p-0"> <a class="navbar-brand mr-4" href="#"><strong> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrljfGpqxT9RGxvPGYHYuJAFW9Mh2TezCTAA&usqp=CAU" id="logo"  class="d-inline-block align-top" alt="">
        </strong></a>Ekol Bilişim Yazılım & Otomasyon  <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        

  
        <div class="collapse navbar-collapse" id="navbarNav">
            
       
            <ul class="navbar-nav">
                
            <div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> <strong>Home</strong></a>
                  </li>
              
                  
                  
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     <strong>Projelerimiz</strong> 
                    </a>
                    <div style="background-color: rgb(237, 196, 200);" class="dropdown-menu" id="dropdown-menu1" aria-labelledby="navbarDropdown1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row d-flex tab">
                                
                                      <h6>Eklemeli imalat Teknolojisi</h6>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="row d-flex tab">
                                    
                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                <h6 class="mb-0">Game+</h6> <small class="text-muted">meatys kesimghane ve izlenebilirlik yönetim ve otomasyon sistemi</small>
                                            </a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row d-flex tab">
                             
                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                <h6 class="mb-0">Streetcam</h6> <small class="text-muted">Keep track all year</small>
                                            </a> </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row d-flex tab">
                               
                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                <h6 class="mb-0">Teamne</h6> <small class="text-muted">Teamwork</small>
                                            </a> </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </li>




               
                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> <strong>Referanslar</strong></a>
                  </li>
                
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> <strong>Kurumsal</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> <strong>İletişim</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> <strong>Hakkımızda</strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> <strong>Duyurular</strong></a>
                  </li>
                         
            </ul>
            
        </div>
        
        <app-social-media2></app-social-media2>
    </nav>
    
    
</div>






























